@model IEnumerable<StreetVendor>;
@using System.Text;
@{
    ViewData["Title"] = "Search";
}

<div class="page">
    <div id="alert">
        <span id="close-btn" onclick="this.parentElement.style.display='none'"> &times; </span>
        &#8594; Precaution: Most street vendors take cash only. Please be prepared to bring cash! &#8592;
    </div>
    <div id="filter-sort">
        <button id="filter" class="small-btn" style="margin-right: 10px"><img src="~/images/filter.png" alt="" class="btn-secondary-icon">&nbsp;Filter</button>
        <div class="select">
            <form id="sort-form" method="POST">
                <select form="sort-form" name="sort" onchange="this.form.submit()">
                    <option value="none">Sort by</option>
                    @* <option value="nearest">Nearest</option> *@
                    <option value="highestRated">Highest Rated</option>
                    <option value="lowestPrice">Lowest Price</option>
                </select>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div id="filter-col">
            <h2 class="filter-title">Opening hours</h2>
            <form class="filter-list" method = "POST">
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="open-now"
                    name="open-now"
                    value = "open-now"
                    />
                    <label for="open-now"> Open now </label>
                </div>
                @* <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="opening-soon"
                    name="openingSoon"
                    />
                    <label for="opening-soon"> Opening soon </label>
                </div>
                <div>
                    <input type="checkbox" class="checkbox" id="closed" name="closed" />
                    <label for="closed"> Closed </label>
                </div>
                *@
            </form>
            <h2 class="filter-title">Ratings</h2>
            <form action="" class="filter-list">
                <div>
                    <input type="checkbox" class="checkbox" id="5.0" name="5.0" />
                    <label for="5.0"> 5.0 </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="4.0-5.0"
                    name="4.0+"
                    />
                    <label for="4.0-5.0"> 4.0+ </label>
                </div>
                <div>
                    <input
                    type="checkbox"
                    class="checkbox"
                    id="3.0-4.0"
                    name="3.0-4.0"
                    />
                    <label for="3.0-4.0"> 3.0+ </label>
                </div>
                
            </form>
         </div>
        <div id="result-col">
        @{
            if (Model.Count() > 0) {
                foreach (var vendor in Model)
                {
                    string priceDisp = vendor.PriceRange.Length == 0
                        ? "N/A - N/A"
                        : vendor.PriceRange[0].ToString("#,###") + "đ - " + vendor.PriceRange[1].ToString("#,###") + "đ";
                    string photoURL = vendor.PhotoUrl == null
                        ? Url.Content("~/images/logo.png")
                        : vendor.PhotoUrl;
                <div id="@vendor.VendorID" class="vndr-card">
                    <div class="vndr-image"><img src="@photoURL" alt="@vendor.EnglishName" /></div>
                    <h3 class="stand-name">
                        @Html.DisplayFor(modelItem => vendor.VietnameseName)
                        @* <sup class="large">Open Now!</sup> *@
                    </h3>
                    <div class="vndr-distance"> 0.5 miles away &nbsp &nbsp &nbsp
                        @* <img src="~/images/walk.png" class="inline-icon" alt=""/> 8 mins *@
                    </div>
                    <div class="vndr-categories">
                        <img src="~/images/menu.png" alt="" class="inline-icon" />  
                        @* @foreach (var category in vendor.FoodCategories) {
                            <div class=“food-category”>@Html.Display(category.CategoryEnglishName)</div>
                        }
                        CSS:

                        .food-category {
                            display: inline-block;
                        }
                        .food-cateogry:after {
                            content: ",";
                        }
                        .food-category:after:last-child {
                            content: none;
                        } *@
                        Vietnamese sandwich, Boba tea, Dessert, Sweet cakes
                    </div>
                    <div class="vndr-rating-price">
                        <img src="~/images/price-tag.png" alt="" class="inline-icon" /> @priceDisp
                        <img src="~/images/star.png" alt="" class="inline-icon" /> 
                        @Html.DisplayFor(modelItem => vendor.AverageRating) &nbsp &nbsp &nbsp &nbsp &nbsp
                    </div>   
                    
                    <div class="right-caret"><img src="~/images/right-caret.png" alt="" /></div>
                </div>
            }
        } else {
            @* Html.DisplayText("Sorry, we couldn't find any street vendors that match your search :("); *@
            <h3 style="font-size: 2rem;">Sorry, we couldn't find any matches from our database :(</h3>
            <a id="sign-up" href="https://forms.gle/PU1baBndNHAus6qt7">
             Help us expand Street Foody database!
            </a>
        }}
        </div>
    </div>
</div>



@* $(function(){
       $(".filter").click(function() {
           alert("Hello");  
       }) 


 $.each(data, function (item) {  
        var $standVietnameseName = item.standVietnameseName;
        
        var $newdiv1 = $( "<div>  </div>" );
        $newdiv1.html($standVietnameseName);
        $("body").append($newdiv1);

    }); $.ajax{
    type : 'GET',
    url : '/api/search/getAll',
    dataType : 'json',
    data :  {id = ''},
    success: function (data) {  
            alert("Hello");  
    
    },  
}  *@